@import 'theme/base';

@font-face {
  font-family: 'pile-icon-lite';
  src:  url('fonts/pile-icon-lite.eot?amm3e7');
  src:  url('fonts/pile-icon-lite.eot?amm3e7#iefix') format('embedded-opentype'),
    url('fonts/pile-icon-lite.ttf?amm3e7') format('truetype'),
    url('fonts/pile-icon-lite.woff?amm3e7') format('woff'),
    url('fonts/pile-icon-lite.svg?amm3e7#pile-icon-lite') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pile-icon-"], [class*=" pile-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pile-icon-lite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--icon-size-normal);

  &.small {
    font-size: var(--icon-size-small);
  }
  &.large {
    font-size: var(--icon-size-large);
  }
}

.pile-icon-arrow-left {
  &:before {
    content: '\e900';
  }
}
.pile-icon-arrow-right {
  &:before {
    content: '\e901';
  }
}
.pile-icon-check-circle {
  &:before {
    content: '\e902';
  }
}
.pile-icon-check-solid-circle {
  &:before {
    content: '\e903';
  }
}
.pile-icon-check {
  &:before {
    content: '\e904';
  }
}
.pile-icon-coin-rmb {
  &:before {
    content: '\e905';
  }
}
.pile-icon-delete {
  &:before {
    content: '\e906';
  }
}
.pile-icon-download {
  &:before {
    content: '\e907';
  }
}
.pile-icon-editor {
  &:before {
    content: '\e908';
  }
}
.pile-icon-error-circle {
  &:before {
    content: '\e909';
  }
}
.pile-icon-error-solid-circle {
  &:before {
    content: '\e90a';
  }
}
.pile-icon-error {
  &:before {
    content: '\e90b';
  }
}
.pile-icon-information {
  &:before {
    content: '\e90c';
  }
}
.pile-icon-loading-snaker {
  animation: cirle-anim 1s linear infinite;
  &:before {
    content: '\e90d';
  }
}
.pile-icon-loading {
  animation: cirle-anim 1s linear infinite;
  &:before {
    content: '\e90e';
  }
}
.pile-icon-location {
  &:before {
    content: '\e90f';
  }
}
.pile-icon-lock {
  &:before {
    content: '\e910';
  }
}
.pile-icon-message {
  &:before {
    content: '\e911';
  }
}
.pile-icon-minus-square {
  &:before {
    content: '\e912';
  }
}
.pile-icon-minus {
  &:before {
    content: '\e913';
  }
}
.pile-icon-phone {
  &:before {
    content: '\e914';
  }
}
.pile-icon-plus-square {
  &:before {
    content: '\e915';
  }
}
.pile-icon-plus {
  &:before {
    content: '\e916';
  }
}
.pile-icon-print {
  &:before {
    content: '\e917';
  }
}
.pile-icon-search {
  &:before {
    content: '\e918';
  }
}
.pile-icon-star {
  &:before {
    content: '\e919';
  }
}
.pile-icon-time {
  &:before {
    content: '\e91a';
  }
}
.pile-icon-user {
  &:before {
    content: '\e91b';
  }
}
.pile-icon-warnning-solid-circle {
  &:before {
    content: '\e91c';
  }
}
.pile-icon-warnning {
  &:before {
    content: '\e91d';
    color: #343c5c;
  }
}

@keyframes cirle-anim {
  0 {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
