@ns pile {
    @c mask {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #373737;
        background-color: rgba(55, 55, 55, 0.6);
        height: 100%;
        filter: alpha(opacity=50);
        z-index: 1050;
        @when show {
            opacity: 1;
        }
        @when hidden{
            opacity: 0;
        }
        @when animate-show {
            animation: maskFadeIn 0.3s cubic-bezier(0.55, 0, 0.55, 0.2) both;
        }
        @when animate-hidden{
            animation: maskFadeOut 0.3s cubic-bezier(0.55, 0, 0.55, 0.2) both;
        }
    }
    @keyframes maskFadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    @keyframes maskFadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
    }

}