@import '@csstools/normalize.css';

/* reset css*/

html, body {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  font-family: PingFang SC, STHeitiSC-Light, Helvetica-Light, arial, sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class^="pile"],[class^="pile"] *, :after, :before {
  box-sizing: border-box;
}

input, input:focus, button, button:focus {
  outline: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block
}

ul, li {
  list-style: none;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}
