@import 'theme/base';

@ns pile {
    @c radio{
        color: blue;
        font-size: 14px;
        display: inline-block;
        margin: 20px 0;
        @d vertical {
            display: block;
            margin: 0;
            & label {
                display: block;
                padding: 15px;
                margin: 0;
                border-bottom: 1px solid #e5e5e5;
            }
            @d icon {
                float: right;
            }
        }
        @d checked{
            width:16px;
            height:16px;
            border-radius:16px ;
            background: #1e96fa;
            display:block;
            position: relative;
            
            &::before, &::after {          
                content: "";
                height: 11px;
                width: 2px;
                border-radius: 10px;
                display: block;
                background: white;
                position: absolute;
                top: 2px;
                left: 8px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -ms-transform: rotate(45deg);  
            }
            &::before {
                height: 5px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                position: absolute;
                top: 7px;
                left: 3px;     
            }
        }
        @d no{
            width:16px;
            height:16px;
            border-radius: 20px;
            background: #fff;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        @d icon {
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
        }
        @d text {
            vertical-align: middle;
            padding: 0 5px;
            font-size: 14px;
        }
        @d label {
            margin-right: 20px;
            cursor: poiner;
            position: relative;
            @d input {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                height: 100%;
                width: 100%;
                cursor: pointer;
                opacity: 0;
            }
        }
        @d disabled {
            background: #ddd;
        }
        @d disabled-no {
            background: #ddd;
        }
    }
}
