@import 'theme/base';

@ns pile {
    @c toast{
        color: #ccc;
        background-color: rgba(0, 0, 0, 0.8);
        top:50%;
        left:50%;
        position: fixed;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        z-index: 1000;
        border-radius: var(--radius-xs);
        text-align: center;
        padding: 16px;
        display: flex;
        align-items: center;
        @d content{
            font-size: var(--font-size-base);
            line-height: 20px;
            flex: 1;
            max-width: 180px;
            word-wrap:break-word;
            overflow: hidden;
            margin-left: 10px;
        }
    }
}
